<div id="performance-tester">

    <div class="form-group form-group-xs num-features">
        <label class="col-xs-5 col-form-label">Anzahl Features:</label>
        <div class="col-xs-7">
            <input id="input-num-features" class="form-control" type="number" value="<%=numFeatures%>">
        </div>
    </div>

    <div class="form-group form-group-xs height">
        <label class="col-xs-5 col-form-label">Z-Koordinate:</label>
        <div class="col-xs-7">
            <input id="input-height" class="form-control" type="number" value="<%=height%>">
        </div>
    </div>

    <div class="form-group form-group-xs movement">
        <label class="col-xs-5 col-form-label">Bewegung:</label>
        <div class="col-xs-7 btn-group" role="group">
        <%if (movement === true) {%>
            <button type="button" class="btn btn-primary btn-movement-yes">Ja</button>
            <button type="button" class="btn btn-default btn-movement-no">Nein</button>
        <%}else {%>
            <button type="button" class="btn btn-default btn-movement-yes">Ja</button>
            <button type="button" class="btn btn-primary btn-movement-no">Nein</button>
        <%}%>
        </div>
    </div>

    <div class="form-group form-group-xs interval <% if(!movement) {print('hide');} %>">
        <label class="col-xs-5 col-form-label">Intervall (in Millis):</label>
        <div class="col-xs-7 btn-group" role="group">
            <input id="input-interval" class="form-control" type="number" step="500" value="<%=interval%>">
        </div>
    </div>

    <div class="form-group form-group-xs">
        <button class="btn btn-primary create-features col-xs-5" type="button"><span>Features erzeugen</span></button>
        <button class="btn btn-primary delete-features col-xs-5 float-right" type="button"><span>Features entfernen</span></button>
    </div>
</div>
